{% extends "base.html" %}
 
{% block content %}

{{ super() }}

<div class="form-container">
    {% if confirmed %}
        <form action="{{ url_for('makeNewPassword', token=token) }}" method="post" >
            <p> <input type="password" placeholder="Set new password" name="password1" > </p>
            <p> <input type="password" placeholder="Repeat your new password" name="password2" > </p>
            <p> <input type="submit" value="Confirm changes" /> </p>
        </form>
    {% endif %}

    <div class="flash">
        {% for category, message in get_flashed_messages(True) %}
        <div class="flash {{category}}" > <p class="flash-message"> {{message}} </p></div>
        {% endfor %}
    </div>

</div>

{% endblock %}