{% extends "base.html" %}
 
{% block content %}

{{ super() }}

<div class="container">

    <div class="profile-info">
        <img src="{{ current_user.avatar() }} " class="avatar">
        <div>
            <p class="username"> {{current_user.username}}</p>
            <p class="info"> Registrated: {{current_user.date.strftime('%Y-%m-%d')}}</p>
        </div>
        <span style="width: 200px; margin-top: 3%; margin-left: 15%">
            <a href="{{ url_for('show_my_likes')}}" class="base-href"  style="font-size: 30px;" >My likes</a> 
        </span>
        <span style="width: 200px; margin-top: 3%; margin-left: 5%">
            <a href="{{url_for('logout')}}" class="base-href" style="font-size: 30px; color: rgb(255, 53, 53); ">Log out</a>
        </span>
    </div>
    <a href="https://ru.gravatar.com/" class="base-href" style="margin-left: 4%;">Change avatar</a>

    <hr style="background-color: rgb(251, 251, 251); margin-left: 2%; margin-right: 2%;">

    <div class="box" style="display: flex;">
      
        <div style="margin-left: 3%">
            <p style="font-size: 30px">My videos:</p>
            <div class="videos" style="margin-left: 2%">
                {% for video in videos %}
                <div class="video-item">
                    <div>
                        <div style="display: flex;">
                            <div style="margin-right: 40px;">
                                <h3 style="color: grey;">{{video.date.strftime('%Y-%m-%d %H:%m')}}</h3>
                            </div>
                        </div>
                        <a href="{{url_for('show_video_page', id=video.id)}}" class="base-href" style="font-size: 20px"><h2>{{video.title}}</h2></a>
                        {% if current_user.has_liked_video(video) %}
                            <div style="display: flex; margin-top: 25px;">
                                <a href="{{ url_for('like_action', video_id=video.id, action='unlike') }}" >
                                    <img src="{{url_for('static', filename='images/heart_77931.svg')}}" height="35" width="35">
                                </a>
                                <h2>{{ video.count_likes() }} </h2>
                            </div>
                        {% else %}
                            <div style="display: flex; margin-top: 25px;">
                                <a href="{{ url_for('like_action', video_id=video.id, action='like') }}" >
                                    <img src="{{url_for('static', filename='images/like-heart-outline-symbol_icon-icons.com_73226.svg')}}" height="35" width="35">
                                </a>
                                <h2>{{ video.count_likes() }} </h2>
                            </div>
                        {% endif %}
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a href="{{url_for('delete_video', id=video.id)}}" class="base-href" style="font-size: 20px; color: rgb(255, 53, 53); ">Delete video</a>
                    </div>
                    <div>
                        <video width="700" height="470" controls="controls" loop="loop" style="background-color: white; margin-top: 0px; margin-left: 50px;">
                            <source src="{{video.path}}" type="video/mp4" > 
                        </video>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="upload-video" style="margin-left: 5%;">
            <form action="/myProfile" method="POST" enctype="multipart/form-data">
                <p> <label style="margin-left: 10%;">Upload video</label> </p>
                <p> <input type="text" name="title" placeholder="Title/Description"> </p>
                <p> <input type="file" name="videofile" placeholder="Choose a file"> </p>
                <p> <input type="submit" value="Upload"> </p>
            </form>
            <div class="flash">
                {% for category, message in get_flashed_messages(True) %}
                <div class="flash {{category}}" > <p class="flash-message"> {{message}} </p> </div>
                {% endfor %}
            </div> 
        </div>
    </div>
</div>


{% endblock %}