{% extends "base.html" %}
 
{% block content %}

{{ super() }}

<div class="form-container">
    <form action="/resetPassword" method="POST" >
        <p> <input type="text" placeholder="Your email adress" name="email" > </p>
        <p> <input type="submit" value="Get verification email" /> </p>
    </form>

    <div class="flash">
        {% for category, message in get_flashed_messages(True) %}
        <div class="flash {{category}}"> <p class="flash-message"> {{message}} </p></div>
        {% endfor %}
    </div>

</div>


{% endblock %}